{{ define "main" }}

{{ if .Site.Data.service.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<main id="service-page" class="pages service-page">
	{{ partial "page-title.html" . }}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				{{ with .Site.Data.service.title }}<h2 class="subtitle" data-aos="fade-up" data-aos-delay="300">{{ . }}</h2>{{ end }}
				{{ with .Site.Data.service.subtitle }}<p class="subtitle-des" data-aos="fade-up" data-aos-delay="500">{{ . }}</p>{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 order-2 order-lg-1">
				<div class="block">
					<div class="row service-parts">
						{{ range .Site.Data.service.serviceItem }}
						<div class="col-md-6">
							<div class="block" data-aos="fade-up" data-aos-delay="700">
								{{ with .icon }}<ion-icon name="{{ . }}"></ion-icon>{{ end }}
								{{ with .title }}<h4>{{ . }}</h4>{{ end }}
								{{ with .description }}<p>{{ . }}</p>{{ end }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			{{ with .Site.Data.service.image }}
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="block">
					<img class="img-fluid" src="{{ . | absURL }}" alt="about-image">
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</main>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}