{{ define "main" }}

{{ if .Params.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<main id="service-page" class="pages service-page">
	{{ partial "page-title.html" . }}
	<div class="container pb-5 my-3">
		<div class="row">
			<div class="col-lg-6 pt-5">
				{{ with .Params.serviceTitle }}<h2 class="subtitle" data-aos="fade-up" data-aos-delay="300">{{ . }}</h2>{{ end }}
				{{ with .Params.serviceSubtitle }}<p class="subtitle-des" data-aos="fade-up" data-aos-delay="500">{{ . }}</p>{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 order-2 order-lg-1 my-3">
				<div class="block">
					<div class="row service-parts">
						{{ range .Params.serviceItems }}
						<div class="col-md-6">
							<div class="block" data-aos="fade-up" data-aos-delay="700">
								{{ with .icon }}<ion-icon name="{{ . }}" aria-hidden="true"></ion-icon>{{ end }}
								{{ with .title }}<h4>{{ . }}</h4>{{ end }}
								{{ with .description }}<p>{{ . }}</p>{{ end }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			{{ if .Params.image }}
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="block">
					{{ $image := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
					{{ if not $image }}
						{{ errorf "%s: %s not found. (layouts/service/list.html)" .File.Path .Params.image }}
					{{ end }}
					<img class="img-fluid" src="{{ $image.Permalink }}"{{ with .Params.imageAlt }} alt="{{ . }}"{{ end }}>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</main>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}