{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ if .Params.image }}
                  {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                  {{ if $original }}
                    {{ $image := $original.Resize "730x" }}
                    <div class="work-single-image">
                      <figure class="figure">
                        <img class="figure-img img-fluid w-100" src="{{ $image.Permalink }}"
                             width="{{ $image.Width }}" height="{{ $image.Height }}"
                             alt="{{ .Params.imageAlt | default "work-single-image" }}">
                         <figcaption class="figure-caption text-right">
                           {{ with .Params.imageCaption }}
                             {{ . }}
                           {{ else }}
                             image courtesy {{ .Params.client.name }}
                           {{ end }}
                         </figcaption>
                       </figure>
                    </div>
                  {{ else }}
                    {{ errorf "%s: %s not found." .File.Path .Params.image }}
                  {{ end }}
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ . }}
                </div>
                {{ end }}
            </div>
            <div class="col-lg-4">
                {{ with .Params.client }}
                <!-- sidebar -->
                <div class="work-single-sidebar block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ if .logo }}
                      {{ $logo := $.Page.Resources.GetMatch (printf "*%s*" .logo) }}
                      {{ if $logo }}
                        {{ with .website }}<a href="{{ . }}" target="_blank">{{ end }}
                          <img class="img-fluid mx-auto d-block p-3" src="{{ $logo.Permalink }}" alt="{{ .name }} logo">
                        {{ with .website }}</a>{{ end }}
                      {{ else }}
                        {{ errorf "%s: %s: Not found" $.File.Path .logo }}
                      {{ end }}
                    {{ end }}
                    {{ with .name }}
                    <h5>Organization</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ with .website }}
                    <h5>Website</h5>
                    <h6><a href="{{ . }}" target="_blank">{{ . }}</a></h6>
                    {{ end }}
                    {{ with $.Params.categories }}
                    <h5>Categories</h5>
                    <h6>{{ delimit . ", " }}</h6>
                    {{ end }}
                    {{ with $.Params.tags }}
                    <h5>Tags</h5>
                    <h6>{{ delimit . ", " }}</h6>
                    {{ end }}
                    {{ with .beneficiaries }}
                    <h5>Beneficiaries</h5>
                    <h6>{{ delimit . ", " }}</h6>
                    {{ end }}
                    {{ with .locations }}
                    <h5>Location(s)</h5>
                    <h6>{{ delimit . ", " }}</h6>
                    {{ end }}
                    {{ range sort .awards "dateAwarded" "desc" }}
                      <hr>
                      {{ with .dateSubmitted }}
                        <h5>Date Submitted</h5>
                        <h6>{{ dateFormat "January 2006" . }}</h6>
                      {{ end }}
                      {{ with .dateAwarded }}
                        <h5>Date Awarded</h5>
                        <h6>{{ dateFormat "January 2006" . }}</h6>
                      {{ end }}
                      {{ with .requested }}
                        <h5>Requested</h5>
                        <h6>${{ lang.NumFmt 0 . }}</h6>
                      {{ end }}
                      {{ with .awarded }}
                        <h5>Awarded</h5>
                        <h6>${{ lang.NumFmt 0 . }}</h6>
                      {{ end }}
                      {{ with .invested }}
                        <h5>Invested</h5>
                        <h6>${{ lang.NumFmt 0 . }}</h6>
                      {{ end }}
                      {{ with .distributed }}
                        <h5>Distributed</h5>
                        <h6>${{ lang.NumFmt 0 . }}</h6>
                      {{ end }}
                      {{ with .duration }}
                        <h5>Project Duration</h5>
                        <h6>{{ . }}</h6>
                      {{ end }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}
