{{ define "main" }}

{{ partial "page-title.html" . }}

<main id="main-content" class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ if .Params.image }}
                  {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                  {{ if $original }}
                    {{ $image := $original.Resize "730x" }}
                    <div class="work-single-image">
                      <figure class="figure">
                        <img class="figure-img img-fluid w-100" src="{{ $image.Permalink }}"
                             width="{{ $image.Width }}" height="{{ $image.Height }}"
                             alt="{{ .Params.imageAlt | default "work-single-image" }}">
                         <figcaption class="figure-caption text-right">
                           {{ with .Params.imageCaption }}
                             {{ . | markdownify }}
                           {{ else }}
                             image courtesy {{ .Params.client.name }}
                           {{ end }}
                         </figcaption>
                       </figure>
                    </div>
                  {{ else }}
                    {{ errorf "%s: %s not found. (layouts/portfolio/single.html)" .File.Path .Params.image }}
                  {{ end }}
                {{ end }}
                <!-- work single Content -->
                <article data-aos="fade-left" data-aos-delay="300">
                  <div class="work-single-content block">
                    {{ .Content }}
                  </div>
                  <p class="post-date">
                    Last updated:
                    <time datetime="{{ dateFormat $.Site.Params.rfc3339Format .Date }}">{{ dateFormat $.Site.Params.dateFormat .Date }}</time>
                  </p>
                </article>
                {{ partial "related.html" . }}
            </div>
            <aside class="col-lg-4">
                {{ with .Params.client }}
                <!-- sidebar -->
                <div class="work-single-sidebar block" data-aos="fade-right" data-aos-delay="300">
                    {{ if .logo }}
                      {{ $logo := $.Page.Resources.GetMatch (printf "*%s*" .logo) }}
                      {{ if $logo }}
                        {{ with .website }}<a href="{{ . }}" target="_blank">{{ end }}
                          <img class="img-fluid mx-auto d-block p-3" src="{{ $logo.Permalink }}" alt="{{ .name }} logo">
                        {{ with .website }}</a>{{ end }}
                      {{ else }}
                        {{ errorf "%s: %s: Not found" $.File.Path .logo }}
                      {{ end }}
                    {{ end }}
                    {{ with .name }}
                    <h5>Organization</h5>
                    <p>{{ . }}</p>
                    {{ end }}
                    {{ with .website }}
                    <h5>Website</h5>
                    <p><a href="{{ . }}" target="_blank">{{ . }}</a></p>
                    {{ end }}
                    {{ with $.Params.categories }}
                    <h5>Categories</h5>
                    <p>{{ delimit . ", " }}</p>
                    {{ end }}
                    {{ with $.Params.tags }}
                    <h5>Tags</h5>
                    <p>{{ delimit . ", " }}</p>
                    {{ end }}
                    {{ with .beneficiaries }}
                    <h5>Beneficiaries</h5>
                    <p>{{ delimit . ", " }}</p>
                    {{ end }}
                    {{ with .locations }}
                    <h5>Location(s)</h5>
                    <p>{{ delimit . ", " }}</p>
                    {{ end }}
                    {{ range sort .awards "dateAwarded" "desc" }}
                      <hr>
                      {{ with .dateSubmitted }}
                        <h5>Date Submitted</h5>
                        <p><time datetime="{{ dateFormat $.Site.Params.rfc3339Format . }}">{{ dateFormat $.Site.Params.monthFormat . }}</time></p>
                      {{ end }}
                      {{ with .dateAwarded }}
                        <h5>Date Awarded</h5>
                        <p><time datetime="{{ dateFormat $.Site.Params.rfc3339Format . }}">{{ dateFormat $.Site.Params.monthFormat . }}</time></p>
                      {{ end }}
                      {{ with .requested }}
                        <h5>Requested</h5>
                        <p>${{ lang.NumFmt 0 . }}</p>
                      {{ end }}
                      {{ with .awarded }}
                        <h5>Awarded</h5>
                        <p>${{ lang.NumFmt 0 . }}</p>
                      {{ end }}
                      {{ with .invested }}
                        <h5>Invested</h5>
                        <p>${{ lang.NumFmt 0 . }}</p>
                      {{ end }}
                      {{ with .distributed }}
                        <h5>Distributed</h5>
                        <p>${{ lang.NumFmt 0 . }}</p>
                      {{ end }}
                      {{ with .duration }}
                        <h5>Project Duration</h5>
                        <p>{{ . }}</p>
                      {{ end }}
                    {{ end }}
                </div>
                {{ end }}
              </aside>
        </div>
    </div>
  </main>

{{ partial "cta.html" . }}

{{ end }}
