{{ define "main" }}

<main id="main-content" class="gallery">
  {{ partial "page-title.html" . }}
  <div class="container">
    <div class="row">
      {{ range $index, $element := .Params.galleryImages }}
      <div class="col-md-4 col-sm-6">
        <figure class="portfolio-item animated" data-aos="fade-left">
          <div class="img-wrapper">
            {{ $image := ($.Page.Resources.ByType "image").GetMatch (printf "*%s*" .image) }}
            {{ if not $image }}
              {{ errorf "%s: %s not found. (layouts/gallery/list.html)" .File.Path .Params.image }}
            {{ end }}
            <img src="{{ $image.Permalink }}" class="img-fluid"{{ with .alt}} alt="{{ . }}"{{ end }}>
            <div class="overlay">
              <div class="buttons">
                <a rel="gallery" class="fancybox" href="{{ $image.Permalink }}">{{ $.Param "enlargeName" | default "Enlarge" }}</a>
              </div>
            </div>
          </div>
        </figure>
      </div>
      {{ end }}
    </div>
  </div>
</main>

{{ partial "cta.html" . }}

{{ end }}