{{ define "main" }}

{{ $paginator := .Paginate .Pages }}
<main id="main-content" class="blog-full-width">
    {{ partial "page-title.html" . }}
    <div class="container">
        {{ with .Content }}
        <div class="row">
            <div class="col-sm-12">
                <div class="block">{{ . }}</div>
            </div>
        </div>
        {{ end }}
        <div class="row">
            {{ range $paginator.Pages }}
                <div class="col-md-6">
                    <article class="blog-content" data-aos="fade-down" data-aos-delay="300">
                        <a href="{{ .Permalink }}">
                            {{ if isset .Params "image" }}
                            <div class="blog-post-image">
                                {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                                {{ if $original }}
                                    {{ $image := $original.Fill "800x600 left" }}
                                    <img class="img-fluid" src="{{ $image.Permalink }}" alt="{{ .Params.imageAlt | default (printf `%s image` .Params.Title) }}">
                                {{ else }}
                                    {{ errorf "%s: %s not found. (layouts/_default/list.html)" .File.Path .Params.image }}
                                {{ end }}
                            </div>
                            {{ else }}
                                {{ warnf "%s: image not set. (layouts/_default/list.html)" .File.Path }}
                            {{ end }}
                            <h2 class="blog-post-title">{{ .Title }}</h2>
                        </a>
                        <div class="blog-meta">
                            <time datetime="{{ .Date.Format $.Site.Params.rfc3339Format }}">{{ .Date.Format ($.Site.Params.dateFormat | default "2 January 2006") }}</time>
                            {{ with .Params.categories }}<span>&mdash;
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                            {{ with .Params.tags }}<span>&mdash;
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                        </div>
                        {{ .Summary }}
                        <a href="{{ .Permalink }}" class="btn btn-default btn-details hvr-bounce-to-right" tabindex="-1" aria-hidden="true">Continue reading<span class="sr-only">&nbsp;about {{ .Title }}</span></a>
                    </article>
                </div>
            {{ end }}
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</main>

{{ partial "cta.html" . }}

{{ end }}
