{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ range .Pages }}
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="blog-post-image">
                        <a href="{{ .Permalink }}">
                            {{ if .Params.image }}
                              {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                              {{ if $original }}
                                {{ $image := $original.Resize "1100x" }}
                                <img class="img-fluid" src="{{ $image.Permalink }}" alt="{{ .Params.title }} image"/>
                              {{ else }}
                                {{ errorf "%s: %s not found." .File.Path .Params.image }}
                              {{ end }}
                            {{ end }}
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="blog-meta">
                            <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
                            {{ with .Params.author }}<span>by
                                {{ . }}
                            </span>
                            {{ end }}
                            {{ with .Params.tags }}<span>&mdash;
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                        </div>
                        <p>
                            {{ .Summary }}
                        </p>
                        {{ with .Permalink }}<a href="{{ . }}" class="btn btn-default btn-details hvr-bounce-to-right">Continue Reading</a>{{ end }}
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
