{{ define "main" }}
{{ $dateFormat := .Param "dateFormat" | default "2 January 2006" }}

<main id="main-content" class="blog-full-width">
    {{ partial "page-title.html" . }}

    <div class="container">
        {{ with .Content }}
        <div class="row">
            <div class="col-sm-12">
                <div class="block">{{ . }}</div>
            </div>
        </div>
        {{ end }}
        {{ if .Param "tagCloud" }}
        <nav class="row" aria-label="tag cloud">
            <div class="col-sm-12">
                {{ partial "tag-cloud.html" . }}
            </div>
        </nav>
        {{ end }}
        {{ if and (eq .Section "authors") (eq .Kind "term") }}
            {{ with index $.Site.Data.bios .Data.Term }}
            <div class="row">
                <div id="{{ replace .name ` ` `-` | htmlEscape }}" class="card mb-3 team-member">
                    <div class="row" data-aos="fade-right" data-aos-delay="300">
                        <div class="col-md-4">
                            {{ $about_bundle  := $.Site.GetPage "/about" }}
                            {{ $original := $about_bundle.Resources.GetMatch .image }}
                            {{ $image := $original.Fill "400x600" }}
                            <img src="{{ $original.Permalink }}" class="img-fluid rounded-start"
                                alt="{{ .name }} portrait">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="clearfix">
                                    <h2 class="card-title float-left">{{ with .honorificPrefix }}{{ . }} {{ end }}{{ .name }}{{ with .honorificSuffix }}, {{ . }}{{ end }}</h2>
                                    {{ with .social }}
                                        <ul class="social-icons float-right">
                                            {{ range . }}
                                                <li><a href="{{ .url }}" target="_blank" rel="me noopener noreferrer"><ion-icon name="{{ .icon }}"></ion-icon>
                                                <span class="sr-only"> {{ .text }}</span></a></li>
                                            {{ end }}
                                        </ul>
                                    {{ end }}
                                </div>
                                {{ if .worksFor }}<p class="card-subtitle mt-0 mb-2 text-muted">{{ with .jobTitle }}{{ . }}, {{ end }}{{ .worksFor }}{{ with .workLocation }}<br>{{ . }}{{ end }}</p>{{ end }}
                                {{ with .bio }}{{ . | markdownify }}{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
        <nav class="row" aria-label="sort order">
            <div class="col-sm-12">
                <div class="dropdown float-right sort-btn">
                    <button type="button" id="itemSortButton" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
                    <div class="dropdown-menu" aria-labelledby="itemSortButton">
                        <a class="dropdown-item" data-sort="newest" href="#">Newest</a>
                        <a class="dropdown-item" data-sort="oldest" href="#">Oldest</a>
                        <a class="dropdown-item" data-sort="alpha"  href="#">By Name</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="sort-items" class="row">
            {{ range .Pages }}
                <div class="sort-item col-md-6" data-sort-name="{{ .Params.Title }}" data-sort-time="{{ .Date.Unix }}">
                    <article class="blog-content" data-aos="fade-down" data-aos-delay="300">
                        <a href="{{ .Permalink }}">
                            {{ if isset .Params "image" }}
                            <div class="blog-post-image">
                                {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                                {{ if $original }}
                                    {{ $image := $original.Fill "800x600 left" }}
                                    <img class="img-fluid" src="{{ $image.Permalink }}" alt="{{ .Params.imageAlt | default (printf `%s image` .Params.Title) }}">
                                {{ else }}
                                    {{ errorf "%s: %s not found. (layouts/_default/list.html)" .File.Path .Params.image }}
                                {{ end }}
                            </div>
                            {{ else }}
                                {{ warnf "%s: image not set. (layouts/_default/list.html)" .File.Path }}
                            {{ end }}
                            <h2 class="blog-post-title">{{ .Title }}</h2>
                        </a>
                        <div class="blog-meta">
                            <time datetime="{{ .Date.Format $.Site.Params.rfc3339Format }}">{{ .Date.Format $dateFormat }}</time>
                            {{ with .Params.categories }}<span>&mdash;
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                            {{ with .Params.tags }}<span>&mdash;
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                        </div>
                        {{ .Summary }}
                        <p><a href="{{ .Permalink }}" class="btn btn-default btn-details hvr-bounce-to-right" tabindex="-1" aria-hidden="true">Continue reading<span class="sr-only">&nbsp;about {{ .Title }}</span></a></p>
                    </article>
                </div>
            {{ end }}
        </div>
    </div>
</main>

{{ partial "cta.html" . }}

{{ end }}
