{{ define "main" }}

{{ partial "page-title.html" . }}

<main id="main-content" class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if isset .Params "image" }}
                  {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                  {{ if $original }}
                    {{ $image := $original.Resize "1100x" }}
                    <figure class="figure">
                        <div class="post-img">
                            <img class="figure-img img-fluid w-100" src="{{ $image.Permalink }}"
                                 alt="{{ with .Params.imageAlt }}{{ . }}{{ end }}">
                        </div>
                        {{ with .Params.imageCaption }}
                            <figcaption class="figure-caption text-right">{{ . | markdownify }}</figcaption>
                        {{ end }}
                    </figure>
                  {{ else }}
                    {{ errorf "%s: %s not found. (layouts/_default/single.html)" .File.Path .Params.image }}
                  {{ end }}
                {{ else }}
                    {{ warnf "%s: image not set. (layouts/_default/single.html)" .File.Path }}
                {{ end }}
                {{ if isset .Params "author" }}
                  {{ $author := index .Site.Data.authors .Params.author }}
                  <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        {{ if isset $author "image" }}
                          {{ $about_bundle  := .Site.GetPage "/about" }}
                          {{ $original := $about_bundle.Resources.GetMatch $author.image }}
                          {{ $image := $original.Fill "66x100" }}
                          {{ $grey := $image | images.Filter (images.Grayscale) }}
                        <img class="byline-pic card-img-left flex-auto d-none d-lg-block"
                             src="{{ $grey.Permalink }}"
                             alt="{{ $author.name }} portrait">
                        {{ end }}
                        <div class="card-body d-flex flex-column align-items-start">
                          {{ with $author }}
                            <h5 class="byline-name mb-0 text-dark">
                              {{ .name }}
                              {{ with .social }}
                                <ul class="social social-icons text-center text-md-right text-lg-right">
                                {{ range . }}
                                    <li><a href="{{ .url }}" target="_blank" rel="me noopener noreferrer"><ion-icon name="{{ .icon }}"></ion-icon>
                                    <span class="sr-only"> {{ .text }}</span></a></li>
                                {{ end }}
                              </ul>
                              {{ end }}
                             </h5>
                            {{ with .title }}
                              <h6 class="byline-title mb-1 text-muted small">{{ . }}</h6>
                            {{ end }}
                          {{ end }}
                        </div>
                      </div>
                    </div>
                  </div>
                {{ end }}
                <article data-aos="fade-left" data-aos-delay="300">
                  <div class="post-date">
                      <time datetime="{{ .Date.Format $.Site.Params.rfc3339Format }}">{{ .Date.Format ($.Site.Params.dateFormat | default "Jan 02, 2006") }}</time>
                      {{ with .Params.tags }}<span>&mdash; {{ delimit . ", " }} </span>{{ end }}
                  </div>
                  <div class="post-content">
                      {{ .Content }}
                  </div>
                </article>
                {{ if .Params.about }}
                <footer class="mission text-muted small">
                  {{ .Site.Params.about.content | safeHTML }}
                  For more information, visit
                  <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>.
                </footer>
                {{ end }}
                {{ partial "related.html" . }}
            </div>
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
  </main>

{{ partial "cta.html" . }}

{{ end }}
