{{ define "main" }}

{{ partial "page-title.html" . }}

<main id="main-content" class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if .Params.image }}
                  {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                  {{ if $original }}
                    {{ $image := $original.Resize "1100x" }}
                    <figure class="figure">
                        <div class="post-img">
                            <img class="figure-img img-fluid w-100" src="{{ $image.Permalink }}"
                                 alt="{{ with .Params.imageAlt }}{{ . }}{{ end }}">
                        </div>
                        {{ with .Params.imageCaption }}
                            <figcaption class="figure-caption text-right">{{ . | markdownify }}</figcaption>
                        {{ end }}
                    </figure>
                  {{ else }}
                    {{ errorf "%s: %s not found. (layouts/_default/single.html)" .File.Path .Params.image }}
                  {{ end }}
                {{ else }}
                    {{ warnf "%s: image not set. (layouts/_default/single.html)" .File.Path }}
                {{ end }}
                {{ partial "author-card.html" . }}
                <article data-aos="fade-left" data-aos-delay="300">
                  <div class="post-date">
                      <time datetime="{{ .Date.Format $.Site.Params.rfc3339Format }}">{{ .Date.Format ($.Site.Params.dateFormat | default "2 January 2006") }}</time>
                      {{ with .Params.tags }}<span>&mdash; {{ delimit . ", " }} </span>{{ end }}
                  </div>
                  <div class="post-content">
                      {{ .Content }}
                  </div>
                </article>
                {{ if .Params.about }}
                <footer class="mission text-muted small">
                  {{ .Site.Params.about.content | safeHTML }}
                  For more information, visit
                  <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>.
                </footer>
                {{ end }}
                {{ partial "related.html" . }}
            </div>
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
  </main>

{{ partial "cta.html" . }}

{{ end }}
