$col-background: #27459c;
$col-primary-shadow: #142968;
$col-link: #27459c;
$col-hover: #2cc0d3;
$col-hover-shadow: #00a4ba;
$col-tertiary: #9b59b6;

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, dt,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  &:hover, &:focus {
    color: $col-hover;
  }
}

.link-button {
  margin-bottom: 1.5rem;
}

.btn-default {
  background: $col-background;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 0;
  margin-top: 1rem;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px $col-background;
}

.section-heading {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.section-heading p {
  font-weight: 300;
  color: #727272;
  line-height: 1.5rem;
}

.title {
  line-height: 1.1;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.subtitle-des {
  color: #727272;
  margin-bottom: 2rem;
  font-weight: 300;
}

.global-page-header {
  background: $col-background;
  color: #fff;
}

.global-page-header h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.global-page-header .breadcrumb {
  display: inline-flex;
}

.global-page-header .breadcrumb li {
  color: #ccc;
}

.global-page-header .breadcrumb li:not(:first-child)::before {
  content: ">";
}

.global-page-header .breadcrumb a {
  color: #ccc;
  text-decoration: none;
  &:hover, &:focus {
    color: #fff;
  }
}

.navbar .nav-item .nav-link {
  transition: .3s all;
  text-transform: uppercase;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: $col-hover;
}

.top-bar {
  transition: all 0.2s ease-out 0s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
  z-index: 10;
}

.top-bar.animated-header {
  background: #fff;
  box-shadow: none;
}

///
/// 404 Page
/// 

.wrapper_404 {
  padding: 5rem 0;
}

.wrapper_404 h1 {
  font-size: 10rem;
  color: $col-background;
}

.wrapper_404 h2 {
  font-size: 3rem;
}

.wrapper_404 .btn-home {
  padding: 1.5em 3rem;
  text-transform: uppercase;
  transition: all linear .2s;
}

///
/// Index Page
///

#hero-area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;
  color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;

  /* mobile safari breaks background-attachment fixed */
  @supports (-webkit-overflow-scrolling: touch) {
    background-attachment: scroll;
  }
}

#hero-area:before {
  content: '';
  z-index: 9;
  background: rgba(255, 255, 255, 0.68);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-area .block {
  position: relative;
  z-index: 9;
}

#hero-area h1 {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

#hero-area .tag {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
  color: #333;
  margin-top: 25px;
  text-shadow: 0.2em 0.2em 0.4em white;
}

#hero-area .btn {
  background: #414141;
  border: none;
  color: #fff;
  padding: 1.5em 2em;
  text-transform: uppercase;
}

#hero-area .cd-headline.slide .cd-words-wrapper {
  color: $col-background;
  text-shadow: 0.0em 0.0em 0.1em white;
}

#call-to-action {
  background: $col-background;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#call-to-action .block {
  padding: 3rem 0;
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
}

#call-to-action .block h2 {
  margin-bottom: 1rem;
  color: #fff;
}

#call-to-action .block p {
  margin-top: 2rem;
}

#call-to-action .block .btn-contact {
  background: #fff;
  color: $col-hover;
  padding: 1rem 2rem;
  font-size: .8rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  transition: all linear .2s;
}

#call-to-action .block .btn-contact i {
  margin-right: 1rem;
}

#call-to-action .block .btn-contact:hover {
  color: #fff;
  background: $col-hover;
}

#about {
  padding-top:  3em;
}

#about .block {
  padding: 1.5em 2em;
}

#about .block h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#about .block p {
  color: #727272;
  line-height: 2rem;
}

#feature .media {
  margin-bottom: 70px;
}

#feature .media .media-start {
  padding-right: 25px;
}

#feature .icon {
  text-decoration: none;
  color: #fff;
  background-color: $col-background;
  height: 2em;
  text-align: center;
  width: 2em;
  font-size: 50px;
  line-height: 2.25em;
  overflow: hidden;
  border-radius: 50%;
  text-shadow: $col-primary-shadow 1px 1px, $col-primary-shadow 2px 2px, $col-primary-shadow 3px 3px, $col-primary-shadow 4px 4px, $col-primary-shadow 5px 5px, $col-primary-shadow 6px 6px, $col-primary-shadow 7px 7px, $col-primary-shadow 8px 8px, $col-primary-shadow 9px 9px, $col-primary-shadow 10px 10px, $col-primary-shadow 11px 11px, $col-primary-shadow 12px 12px, $col-primary-shadow 13px 13px, $col-primary-shadow 14px 14px, $col-primary-shadow 15px 15px, $col-primary-shadow 16px 16px, $col-primary-shadow 17px 17px, $col-primary-shadow 18px 18px, $col-primary-shadow 19px 19px, $col-primary-shadow 20px 20px, $col-primary-shadow 21px 21px, $col-primary-shadow 22px 22px, $col-primary-shadow 23px 23px, $col-primary-shadow 24px 24px, $col-primary-shadow 25px 25px, $col-primary-shadow 26px 26px, $col-primary-shadow 27px 27px, $col-primary-shadow 28px 28px, $col-primary-shadow 29px 29px, $col-primary-shadow 30px 30px, $col-primary-shadow 31px 31px, $col-primary-shadow 32px 32px, $col-primary-shadow 33px 33px, $col-primary-shadow 34px 34px, $col-primary-shadow 35px 35px, $col-primary-shadow 36px 36px, $col-primary-shadow 37px 37px, $col-primary-shadow 38px 38px, $col-primary-shadow 39px 39px, $col-primary-shadow 40px 40px, $col-primary-shadow 41px 41px, $col-primary-shadow 42px 42px, $col-primary-shadow 43px 43px, $col-primary-shadow 44px 44px, $col-primary-shadow 45px 45px, $col-primary-shadow 46px 46px, $col-primary-shadow 47px 47px, $col-primary-shadow 48px 48px, $col-primary-shadow 49px 49px, $col-primary-shadow 50px 50px, $col-primary-shadow 51px 51px, $col-primary-shadow 52px 52px, $col-primary-shadow 53px 53px, $col-primary-shadow 54px 54px, $col-primary-shadow 55px 55px, $col-primary-shadow 56px 56px, $col-primary-shadow 57px 57px, $col-primary-shadow 58px 58px, $col-primary-shadow 59px 59px, $col-primary-shadow 60px 60px, $col-primary-shadow 61px 61px, $col-primary-shadow 62px 62px, $col-primary-shadow 63px 63px, $col-primary-shadow 64px 64px, $col-primary-shadow 65px 65px, $col-primary-shadow 66px 66px, $col-primary-shadow 67px 67px, $col-primary-shadow 68px 68px, $col-primary-shadow 69px 69px, $col-primary-shadow 70px 70px, $col-primary-shadow 71px 71px, $col-primary-shadow 72px 72px, $col-primary-shadow 73px 73px, $col-primary-shadow 74px 74px, $col-primary-shadow 75px 75px, $col-primary-shadow 76px 76px, $col-primary-shadow 77px 77px, $col-primary-shadow 78px 78px, $col-primary-shadow 79px 79px, $col-primary-shadow 80px 80px, $col-primary-shadow 81px 81px, $col-primary-shadow 82px 82px, $col-primary-shadow 83px 83px, $col-primary-shadow 84px 84px, $col-primary-shadow 85px 85px, $col-primary-shadow 86px 86px, $col-primary-shadow 87px 87px, $col-primary-shadow 88px 88px, $col-primary-shadow 89px 89px, $col-primary-shadow 90px 90px, $col-primary-shadow 91px 91px, $col-primary-shadow 92px 92px, $col-primary-shadow 93px 93px, $col-primary-shadow 94px 94px, $col-primary-shadow 95px 95px, $col-primary-shadow 96px 96px, $col-primary-shadow 97px 97px, $col-primary-shadow 98px 98px, $col-primary-shadow 99px 99px, $col-primary-shadow 100px 100px;
}

///
/// About Page Section
/// 

/*
.company-description .block p {
  color: #727272;
}
*/

.about-feature .block {
  color: #fff;
}

.about-feature .block p {
  font-weight: 300;
}

.about-feature .about-feature-1 {
  background: #2cc0d3;
}

.about-feature .about-feature-2 {
  background: #00B0C7;
}

.about-feature .about-feature-3 {
  background: #00A6BB;
}

///
/// About Page Team Section
/// 

.team-member:hover img {
  opacity: .8;
}

.team-member .team-name {
  font-size: 20px;
}

.team-member .team-designation {
  font-size: 13px;
}

.team-member p {
  font-size: 14px;
}


/*

figure {
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

figure .img-wrapper {
  position: relative;
  overflow: hidden;
}

figure img {
  transform: scale3d(1, 1, 1);
  transition: transform 400ms;
}

/*
figure:hover img {
  transform: scale3d(1.2, 1.2, 1);
}
*/

/*
figure:hover .overlay {
  opacity: 1;
}

figure:hover .overlay .buttons a {
  transform: scale3d(1, 1, 1);
}

figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 400ms;
}

figure .overlay a {
  display: inline-block;
  color: #fff;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  transform: scale3d(0, 0, 0);
  transition: all 400ms;
}

figure .overlay a:hover {
  text-decoration: none;
}

figure .overlay:hover a {
  transform: scale3d(1, 1, 1);
}

figure .buttons {
  margin-top: 40%;
  text-align: center;
  transform: translateY(-50%);
  display: inline-block;
}

figure figcaption {
  padding: 10px 25px;
  margin-top: 0;
  color: #666;
}

figure figcaption h4 {
  margin: 0;
}

figure figcaption p {
  margin-bottom: 0;
  margin-top: 5px;
}

*/

///
/// Contact Page
/// 

.contact-section input {
  display: block;
  height: 40px;
  padding: 6px 12px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 1px;
  border: 1px solid rgba(111, 121, 122, 0.3);
}

.contact-section textarea {
  display: block;
  border-radius: 0;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.contact-section .address-details {
  padding-top: 70px;
}

.contact-section .address,
.contact-section .email,
.contact-section .phone {
  text-align: center;
  background: #F7F7F7;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
}

#map-canvas {
  width: 100%;
  height: 350px;
  background-color: #CCC;
}

.error {
  padding: 10px;
  color: #D8000C;
  border-radius: 2px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
}

#error,
#success {
  display: none;
  margin-bottom: 10px;
}

///
/// Default Blog Single Tweaks
/// 

.author-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0;
}


///
/// Portfolio Single Tweaks
/// 
.sidebar {
  background: #eae9ec;
  position: sticky;
  padding: 2rem 1.5rem;
}

.work-single blockquote {
  background: #eae9ec;
  color: #848484;
}


///
/// Gallery Section Page
/// 

/*
.gallery {
  padding: 100px;
}

.gallery figure .buttons {
  left: 40%;
}
*/

///
/// Service Page Tweaks
/// 

.service-page .service-parts .block {
  margin-bottom: 40px;
  text-align: center;
}

.service-page .service-parts .block ion-icon {
  font-size: 35px;
  color: $col-background;
}

.service-page .service-parts .block p {
  padding: 0 8px;
  color: #777;
  line-height: 1.7;
}

//
// Social Icons
//

.social-icons {
  display: inline;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  background: $col-background;
  color: #fff;
  padding: .37rem .37rem .12rem;
  border-radius: .37em;
}

/* taxonomy terms */
.badge-category,
a.badge-category {
  color: #fff !important;
  background-color: $col-tertiary;
  &:hover, &:focus {
    color: $col-tertiary !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}

.badge-tag,
a.badge-tag {
  color: #fff !important;
  background-color: $col-background;
  &:hover, &:focus {
    color: $col-background !important;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.letter {
    color: #3c6382;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    border-bottom: 1.25pt solid #3c6382;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.badge-tag-list,
a.badge-tag-list {
  color: $col-background !important;
  border-radius: 0.25rem;
  border: 1pt $col-background solid;
  &:hover, &:focus {
    color: #fff !important;
    background-color: $col-background;
    // background: transparent;
    // background-color: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}

.badge-tag-list-page,
a.badge-tag-list-page {
  color: $col-background !important;
  min-width: 200px;
  border-radius: 0.25rem;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1pt $col-background solid;
  &:hover, &:focus {
    color: #fff !important;
    background-color: $col-background;
  }
}

/* fastSearch */
#searchResults {
  visibility: hidden;
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 320px;
  min-width: 300px;
  font-size: .8em;
  z-index: 99;
}

#searchResults li {
  list-style: none;
  list-style-position: inside;
  margin-left: 0;
  background-color: #333;
  padding: 0;
  border-bottom: 1px dotted #000;
}

#searchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  color: #ddd;
}

#searchResults a:hover, a:focus {
  outline: 0;
  background-color: #666;
  color: #fff;
}

#searchResults li .title {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
  color: $col-hover;
}

#searchResults li .section {
  font-variant-caps: all-small-caps;
}

#searchResults li .summary {
   font-style: italic;
}

.tag-cloud {
  background: #eae9ec;
}

.tag-cloud a {
  padding-left: .25rem;
  padding-right: .25rem;
}

/* blog */
.pagination {
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 0;
}

.pagination .page-item .page-link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 0;
  border: 1px solid #dedede;
  text-align: center;
  margin: 0 4px;
  font-weight: 500;
  color: #02bdd5;
  padding: 0;
  line-height: 41px;
  box-shadow: 0 5px 25px rgba(#000, .05);
}

.pagination .page-item.active .page-link {
  background: #02bdd5;
  color: #fff;
  border-color: #02bdd5;
}

.pagination .page-item .page-link:focus,
.pagination .page-item .page-link:hover {
  box-shadow: none;
  background: #02bdd5;
  color: #fff;
}