{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="icon ion-ios-pricetags"></i> {{ .Title }}</h1>
                {{ .Content }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <!-- create a list with all uppercase letters -->
            {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

            <!-- range all pages sorted by their title -->
            {{ range sort .Data.Terms }}
              <!-- get the first character of each title. Assumes that the title is never empty! -->
              {{ $firstChar := substr .Page.Title 0 1 | upper }}

              <!-- in case $firstChar is a letter -->
              {{ if $firstChar | in $letters }}
                <!-- get the current letter -->
                {{ $curLetter := $.Scratch.Get "curLetter" }}
                <!-- if $curLetter isn't set or the letter has changed -->
                {{ if ne $firstChar $curLetter }}
                <!-- update the current letter and print it -->
                  {{ $.Scratch.Set "curLetter" $firstChar }}
                  <span class="letter">{{ $firstChar }}</span><br />
                {{ end }}

                <a class="badge badge-tag-list-page" href="{{ .Page.Permalink }}"><i class="icon ion-ios-pricetags"></i> {{ .Page.Title }} ({{ .Count }})</a>
              {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
