{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<main id="main-content" class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                {{ with .Params.image }}
                    {{ $original := $.Resources.GetMatch (printf "*%s*" .) }}
                    {{ $image := $original.Resize "540x" }}
                    <img src="{{ $image.Permalink }}" class="img-fluid" alt="{{ $.Params.imageAlt | default "about us image"}}">
                {{ end }}
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .Params.about.title }}<h3 class="subtitle" data-aos="fade-up" data-aos-delay="500">{{ . }}</h3>{{ end }}
                    {{ with .Content }}
                    <div data-aos="fade-up" data-aos-delay="500">{{ . }}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</main>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<aside class="about-feature clearfix">
    <div class="container-fluid">
        <div class="card-group">
            {{ range $index, $element := .Params.aboutItems }}
                {{ $class := add $index 1 }}
                <div class="col-lg-4 px-0 card about-feature-{{ $class }}">
                    <div class="block" data-aos="fade-down" data-aos-delay="300">
                        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                        {{ with .description }}<p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</aside>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "team.html" . }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}
