{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
{{ $width := cond (isset .Site.Params.about "twitter") "col-sm-4" "col-sm-6" }}
<section id="about">
    <div class="container my-3">
        <div class="row">
            <div class="{{ $width }}">
                <div class="block" data-aos="fade-right" data-aos-delay="300">
                    {{ with .Site.Params.about.titleLink }}<a href="{{ . }}">{{ end -}}
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end -}}
                    {{ with .Site.Params.about.titleLink }}</a>{{ end -}}
                    {{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="{{ $width }}">
                <div class="block" data-aos="fade-left" data-aos-delay="300">
                    {{ with .Site.Params.about.image }}<img src="{{ . | absURL }}" alt="{{ $.Site.Params.about.imageAlt | default "about-image" }}">{{ end }}
                </div>
            </div>
            {{ with .Site.Params.about.twitter }}
              <div class="{{ $width }}">
                <div class="block" data-aos="fade-left" data-aos-delay="300">
                  {{ partial "twitter_widget.html" . }}
                </div>
              </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
