{{ if isset .Params "authors" }}
    <div class="row mb-2">
        {{ range .Params.authors }}
            {{ with index $.Site.Data.bios . }}
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        {{ if isset . "image" }}
                            {{ $about_bundle  := $.Site.GetPage "/about" }}
                            {{ $original := $about_bundle.Resources.GetMatch .image }}
                            {{ $image := $original.Fill "66x100" }}
                            {{ $grey := $image | images.Filter (images.Grayscale) }}
                            <img class="byline-pic card-img-left flex-auto d-none d-lg-block"
                                    src="{{ $grey.Permalink }}"
                                    alt="{{ .name }} portrait">
                        {{ end }}
                        <div class="card-body d-flex flex-column align-items-start">
                            <h5 class="byline-name mb-0 text-dark">
                                <a href="{{ ref $.Page (printf "%s%s" "/about#" (replace .name " " "-" | htmlEscape)) }}">
                                    {{ with .honorificPrefix }}{{ . }} {{ end }}{{ .name }}{{ with .honorificSuffix }}, {{ . }}{{ end }}
                                </a>
                                {{ with .social }}
                                <ul class="social social-icons text-center text-md-right text-lg-right">
                                {{ range . }}
                                    <li><a href="{{ .url }}" target="_blank" rel="me noopener noreferrer"><ion-icon name="{{ .icon }}"></ion-icon>
                                    <span class="sr-only"> {{ .text }}</span></a></li>
                                {{ end }}
                                </ul>
                                {{ end }}
                            </h5>
                            {{ if (or .worksFor .jobTitle) }}
                                <h6 class="byline-title mb-1 text-muted small">{{ with .jobTitle }}{{ . }}, {{ end }}{{ .worksFor }}</h6>
                            {{ end }}
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}