{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<header id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block" data-aos="fade-up" data-aos-delay="300">
          {{ "<!-- Slider -->" | safeHTML}}
          <div class="cd-intro">
            <h1 class="cd-headline slide animated" data-aos="fade-up" data-aos-delay="300">
              {{ with .Site.Params.banner.heading }}<span>{{ . }}</span>{{ end }}
              <br>
              <span class="cd-words-wrapper text-center">
                {{ range $index, $element := .Site.Params.banner.flipText }}
                <b class="{{if eq $index 0}}is-visible{{end}}" style="white-space: normal;">{{.title}}</b>
                {{ end }}
              </span>
            </h1>
          </div>
          {{ with .Site.Params.banner.description }}<p class="tag" data-aos="fade-up" data-aos-delay="600">{{ . }}</p>
          {{ end }}
          {{ if .Site.Params.banner.btn }}
          <a class="btn-lines dark light btn btn-default btn-green hvr-bounce-to-right" data-aos="fade-up" data-aos-delay="900"
            href="{{ .Site.Params.banner.btnURL }}">{{ .Site.Params.banner.btnText }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}