{{ if .Site.Data.client.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
<section id="clients">
  <div class="container my-3">
    <div class="row">
      <div class="col-md-12">
        {{ with .Site.Data.client.title }}<h2 class="subtitle text-center" data-aos="fade-up">{{ . }}</h2>{{ end }}
        {{ with .Site.Data.client.subtitle }}<p class="subtitle-des text-center" data-aos="fade-up">{{ . }}</p>{{ end }}
        <ul id="clients-logo" class="clients-logo-slider">
          {{ range .Site.Data.client.clientsLogo }}
          <li class="client-logo mx-2 overflow-hidden">
            {{ with .url }}<a target="_blank" rel="external noopener nofollow" href="{{ . }}">{{ end }}
            {{ if .image }}
              {{ $image := (resources.ByType "image").GetMatch .image }}
              {{ if $image }}
                <img alt="{{ .name }}" src="{{ $image.Permalink }}">
              {{ else }}
                <img alt="{{ .name }}" src="{{ .image | absURL }}">
              {{ end }}
            {{ else }}
              <p class="h3">{{.name}}</p>
            {{ end }}
            {{ with .url }}</a>{{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Client Section End -->" | safeHTML }}
{{ end }}