{{ with .Site.Params.cta }}
{{ if .enable }}
{{ "<!-- Call To Action Section Start -->" | safeHTML }}
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h2 class="title" data-aos="fade-down">{{ . }}</h2>{{ end }}
          {{ with .content }}<p data-aos="fade-down">{{ . | safeHTML }}</p>{{ end }}
          <a href="{{ .btnURL }}" class="btn btn-default btn-contact hvr-bounce-to-right" data-aos="fade-down">{{ .btnText }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Call To Action Section End -->" | safeHTML }}
{{ end }}
{{ end }}