{{ if .Site.Data.feature.enable }}
{{ "<!-- Feature Section Start -->" | safeHTML }}
<section id="feature">
	<div class="container my-3">
		<div class="section-heading">
			{{ with .Site.Data.feature.title }}<h2 class="title" data-aos="fade-down">{{ . }}</h2>{{ end }}
			{{ with .Site.Data.feature.subtitle }}<p data-aos="fade-down">{{ . | safeHTML }}</p>{{ end }}
		</div>
		<div class="row">
			{{ range $index, $element := .Site.Data.feature.item }}
			<div class="col-sm-6 col-lg-4">
				<div class="media d-flex align-items-center" data-aos="fade-right">
					<div class="media-start">
						<div class="icon">
							{{ with .icon }}<ion-icon name="{{ . }}" aria-hidden="true"></ion-icon>{{ end }}
						</div>
					</div>
					<div class="media-body">
						{{ with .title }}<h3 class="media-heading h4">{{ . }}</h3>{{ end }}
						{{ with .description }}<p>{{ . }}</p>{{ end }}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ "<!-- Feature Section End -->" | safeHTML }}
{{ end }}