{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                {{ if .Site.Params.copyright }}
                <p class="copyright">Copyright &copy;{{ with .Site.Params.copyrightStart }} {{ . }} - {{ end }}
                    <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> by {{ .Site.Params.copyright }}
                </p>
                {{ end }}
            </div>
            {{ with .Site.Params.socialIcon }}
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social social-icons text-center text-md-right text-lg-right">
                    <span class="social">Follow us on:&nbsp;</span>
                    {{ range . }}
                      <li><a href="{{ .url }}" target="_blank" rel="noopener noreferrer"><i class="{{ .icon }}"></i>
                      <span class="sr-only"> {{ .text }}</span></a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ `plugins/jQurey/jquery-3.4.1.min.js` | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ `plugins/form-validation/jquery.form.js` | absURL }}"></script>
<script src="{{ `plugins/form-validation/jquery.validate.min.js` | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ `plugins/slick/slick.min.js` | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ `plugins/wow-js/wow.min.js` | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ `plugins/slider/slider.js` | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ `plugins/fancybox/jquery.fancybox.js` | absURL }}"></script>
{{ "<!-- Embedded Search w/Fuse -->" | safeHTML }}
<script src="{{ `plugins/fusejs.io/fuse.min.js` | absURL }}"></script>
{{/* <script src="{{ `plugins/markjs.io/jquery.mark.min.js` | absURL }}"></script> */}}
<script src="{{ `plugins/fastsearch/fastsearch.js` | absURL }}"></script>
<script id="searchResultsTemplate" type="text/x-js-template">
    <li>
        <a href="${permalink}" tabindex="0">
            <span class="title">${title}</span><br/>
            <span class="section">${section}</span>
            ${isset date}<span class="date">${date}</span>${end}
            ${isset summary}<span class="summary">${summary}${end}
        </a>
    </li>
</script>
{{ "<!-- template main js -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{/* template "_internal/google_analytics_async.html" . */}}
{{- partial "gtag.html" . }}
