{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container mt-3 small">
        <div class="row content-justify-between">
            {{ with site.Copyright }}
                <div class="col-md-8 text-center text-md-start">
                    <p class="copyright">{{ replace . "{year}" now.Year | safeHTML }}</p>
                </div>
            {{ end }}
            {{ with .Site.Params.socialIcon }}
                {{ "<!-- Social Media -->" | safeHTML }}
                <div class="col-md-4 text-center text-md-end">
                    Follow us on:
                    {{ partial "social-icons.html" . }}
                </div>
            {{ end }}
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{/* jQuery & BootStrap */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* Form Validation */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js" integrity="sha512-RTxmGPtGtFBja+6BCvELEfuUdzlPcgf5TZ7qOVRmDfI9fDdX2f1IwBq+ChiELfWt72WY34n0Ti1oo2Q3cWn+kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* Iconic IonIcons */}}
{{/*
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
*/}}
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons/ionicons.esm.min.js" integrity="sha512-Iqd9w9RzI6v4J6MhRJcF4KvDVyGmuOtiEFF/80L26pQHlBIcGpylD86hMLDUNgES1cDnxHc2kmIAAtEnkPJeaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons.min.js" integrity="sha512-esqkwbZWQWGPKMg0apElthYF54n7TMcMGQs/rC8KyWIjuFt+d+kB2n4j7yWOXGn82wMrs5rLMPoiw7n73GJ5Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* Animate On Scroll AOS */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js" integrity="sha512-tnNM6PPNOVfZ5sGPw6hThCrcUBeqt2mVEk3EAj8tCtuMHqbuVm5/HsZagrr8W2aaFE+6rKIByGwQbEnmodrYVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* Root page slider */}}
<script src="{{ `plugins/slider/slider.js` | absURL }}"></script>

{{/* Slick Carousel for partials/clients.html */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* FancyBox for gallery */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/4.0.31/fancybox.umd.min.js" integrity="sha512-OP5UDNTrL0tjvwTB5LHB0I6gTZNNW3zxjq1eg3ezPRGGMmWycR0hI9LucqotK97avbFJ0TiPc2lnJoHXqYKvRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/* Embedded Search w/Fuse */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ `plugins/fastsearch/fastsearch.js` | absURL }}"></script>
<script id="searchResultsTemplate" type="text/x-js-template">
    <li>
        <a href="${permalink}" tabindex="0">
            <span class="title">${title}</span><br>
            <span class="section">${section}</span>
            ${isset date}<span class="date">${date}</span>${end}
            ${isset summary}<span class="summary">${summary}${end}
        </a>
    </li>
</script>

{{/* MailChimp */}}
{{ with .Site.Params.mailChimp }}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/{{ .uid1 }}/{{ .uid2 }}.js");</script>
{{ end }}

{{/* Custom JS for the site (should be last) */}}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
