<section class="top-bar navbar-fixed-top animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Params.logoAlt | default "logo" }}">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="{{ .Site.BaseURL }}">{{ with .Site.Params.home }}{{ . }}{{ end }}</a>
                            </li>
                            {{ range $index, $element := .Site.Menus.nav }}
                                {{ if .HasChildren }}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-primary"
                                       data-toggle="dropdown" id="dropdown{{ $index }}"
                                       aria-haspopup="true" aria-expanded="false"
                                       href="{{ .URL | absURL }}">{{ .Pre }} {{ .Name }}</a>
                                    <div class="dropdown-menu" aria-labeledby="dropdown{{ $index }}">
                                        <ul>
                                        {{ range .Children }}
                                        <li><a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Pre }} {{ .Name }}</a></li>
                                        {{ end }}
                                        </ul>
                                    </div>
                                </li>
                                {{ else }}
                                <li class="nav-item">
                                    <a class="nav-link text-primary" href="{{ .URL | absURL }}">{{ .Pre }} {{ .Name }}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
