<section class="top-bar navbar-fixed-top animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Params.logoAlt | default .Site.Title }}">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item{{ if .IsHome }} active{{ end }}">
                                <a class="nav-link"
                                    href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a>
                            </li>
                            {{ $currentPage := . }}
                            {{ range $index, $element := .Site.Menus.main }}
                                {{ if .HasChildren }}
                                <li class="nav-item dropdown{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
                                    <a class="nav-link dropdown-toggle" role="button"
                                       data-toggle="dropdown" id="dropdown{{ $index }}"
                                       aria-haspopup="true" aria-expanded="false"
                                       href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                                    <div class="dropdown-menu" aria-labeledby="dropdown{{ $index }}">
                                        {{ range .Children }}
                                        {{/* <a class="dropdown-item {{ if $currentPage.IsMenuCurrent "nav" . }}active{{ end }}" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a> */}}
                                          <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                                        {{ end }}
                                    </div>
                                </li>
                                {{ else }}
                                <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                                    <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                                </li>
                                {{ end }}
                            {{ end }}
                            <li class="nav-item">
                                {{/*
                                <form class="form-inline" action="{{ "search" | absURL }}">
                                    <input id="search-query" name="s"
                                           class="form-control ml-sm-2" type="search"
                                           placeholder="Search" aria-label="Search">
                                    <button class="invisible btn btn-outline-success my-2 my-sm-0"
                                           type="submit">Search</button>
                                </form>
                                */}}
                                <form id="fastSearch" role="search">
                                    <input id="searchInput"
                                           class="form-control ml-sm-2" type="search"
                                           placeholder="Search" aria-label="Search" tabindex="0">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
                <ul id="searchResults"></ul>
            </div>
        </div>
    </div>
</section>
