{{ if .Site.Params.news.enable }}
{{ "<!-- News Section Start -->" | safeHTML }}
{{ $maxItems := cond (isset .Site.Params.news "twitter") 2 3 }}
<section id="news" class="works">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.news.title }}<h1 class="title" data-aos="fade-down" data-aos-delay="300">{{ . }}</h1>{{ end }}
            {{ with .Site.Params.news.subtitle }}<p data-aos="fade-down" data-aos-delay="500">{{ . }}</p>{{ end }}
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {{ range $index, $element:= first $maxItems (where .Site.RegularPages "Type" "news") }}
            <div class="col mb-3">
              {{ $delay := mul $index 300 }}
              <figure class="news-item card h-100" data-aos="fade-left" data-aos-delay="{{ $delay }}">
                {{ if isset .Params "image" }}
                  {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                  {{ if $original }}
                    {{ $image := $original.Fill "350x240 left" }}
                    <div class="img-wrapper">
                      <img src="{{ $image.Permalink }}" class="card-img-top news-pic" alt="{{ .Title }}"/>
                      {{ if .Site.Params.news.imageButtons -}}
                      <div class="overlay">
                        <div class="buttons">
                          {{/* <a rel="gallery" class="fancybox" href="{{ $original.Permalink }}">Demo</a> */}}
                          <a href="{{ .Permalink }}">Details</a>
                        </div>
                      </div>
                      {{- end }}
                    </div>
                  {{ else }}
                    {{ errorf "%s: %s not found. (layouts/partials/news.html)" .File.Path .Params.image }}
                  {{ end }}
                {{ else }}
                  {{ warnf "%s: image not set. (layouts/partials/news.html)" .File.Path }}
                {{ end }}
                <div class="card-body">
                  <h2 class="card-title">
                    <a href="{{ .Permalink }}">
                      {{ .Title }}
                    </a>
                  </h2>
                  <p class="card-text">
                    {{ .Summary }}
                  </p>
                  {{ with .Date }}
                  <h3 class="card-subtitle h6 mb-2 text-muted">
                    Updated: {{ dateFormat $.Site.Params.dateFormat . }}
                  </h3>
                  {{ end }}
                </div>
              </figure>
            </div>
          {{ end }}
          {{ with .Site.Params.news.twitter }}
            <div class="col mb-3">
              <figure class="news-item card h-100" data-aos="fade-left" data-aos-delay="600">
                {{ partial "twitter_widget.html" . }}
              </figure>
            </div>
          {{ end }}
        </div>
    </div>
</section>
{{ "<!-- News Section End -->" | safeHTML }}
{{ end }}
