{{"<!-- Global Page Section Start -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <ol class="breadcrumb list-inline text-center">
                        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- Global Page Section End -->" | safeHTML }}
