{{"<!-- Global Page Section Start -->" | safeHTML }}
<header class="global-page-header">
    <div class="container">
        <div class="row py-5 mb-3">
            <div class="col-md-12 text-center">
                <h1>{{ .Title }}</h1>
                <nav aria-label="breadcrumbs">
                    <ol class="breadcrumb">
                        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
{{"<!-- Global Page Section End -->" | safeHTML }}
