{{ if .Site.Params.portfolio.enable }}
{{ "<!-- Portfolio Section Start -->" | safeHTML }}
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.portfolio.title }}<h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
            {{ with .Site.Params.portfolio.subtitle }}<p class="wow fadeInDown" data-wow-delay=".5s">{{ . }}</p>{{ end }}
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {{ range $index, $element:= first 6 (where .Site.RegularPages "Type" "portfolio") }}
            <div class="col mb-3">
              {{ $delay := mul $index 300 }}
              <figure class="portfolio-item card h-100 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                {{ $original := .Page.Resources.GetMatch (printf "*%s*" .Params.image) }}
                {{ if $original }}
                  {{ $image := $original.Fill "350x240 left" }}
                  <div class="img-wrapper">
                    <img src="{{ $image.Permalink }}" class="card-img-top portfolio-pic" alt="{{ .Title }}"/>
                    <div class="overlay">
                      <div class="buttons">
                        {{/* <a rel="gallery" class="fancybox" href="{{ $original.Permalink }}">Demo</a> */}}
                        <a href="{{ .Permalink }}">Details</a>
                      </div>
                    </div>
                  </div>
                {{ else }}
                  {{ errorf "%s: %s not found." .File.Path .Params.image }}
                {{ end }}
                <div class="card-body">
                  <h2 class="card-title">
                    <a href="{{ .Permalink }}">
                      {{ .Title }}
                    </a>
                  </h2>
                  <p class="card-text">
                    {{ .Params.caption }}
                  </p>
                </div>
              </figure>
            </div>
          {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Portfolio Section End -->" | safeHTML }}
{{ end }}
