{{- if .IsHome }}
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    {{- with .Site.Params.license }}
    "license": "{{ . }}",
    {{- end }}
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}"
}
{{ else if .IsPage }}
{{- $org_name :=  .Site.Title }}
{{- $personFields := (slice "@type" "name" "jobTitle" "worksFor" "honorificPrefix" "honorificSuffix" "url") }}
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title }}",
    "headline": "{{ .Title }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}",
    "inLanguage": "{{ .Site.LanguageCode | default "en-us" }}",
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    {{- range $item := slice "author" "editor" "responsiblePerson" }}
        {{- with (or ($.Param $item) ($.Site.Param $item)) }}
    "{{ $item }}": [
            {{- range $index, $value := . }}
                {{- with lower . }}
                    {{- $foo := newScratch }}
                    {{- with index $.Site.Data.bios . }}
                        {{- range $key, $val := . }}
                            {{- if (in $personFields $key) }}
                                {{- $foo.Set $key $val }}
                            {{- end }}
                        {{- end }}
                    {{- end }}
        {{- if gt $index 0 }}, {{ end }}
        {{- $foo.Values | jsonify }}
                {{- end }}
            {{- end -}}
    ],
        {{- end }}
    {{- end }}
    "copyrightHolder": "{{ $org_name }}",
    "copyrightYear": "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher": {
        "@type": "Organization",
        "name": "{{ $org_name }}",
        "url": "{{ .Site.BaseURL }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width": 32,
            "height": 32
        }
    },
    "image": "{{- with .Params.images }}[{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else }}
             {{- $images := $.Resources.ByType "image" -}}
             {{- $featured := $images.GetMatch "*feature*" -}}
             {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
             {{- if $featured -}}{{ $featured.Permalink -}}{{ else -}}
             {{- .Site.Params.logo | absURL }}{{ end }}{{ end }}",
    "url": "{{ .Permalink }}",
    {{- with .Params.tags }}
    "keywords": {{ . | jsonify }},
    {{- end }}
    "wordCount": {{ .WordCount }}
}
{{ end }}