{{ if .Params.team.enable }}
{{ "<!-- Team Section Start -->" | safeHTML }}
<section id="team">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12">
                {{ with .Params.team.title }}<h2 class="subtitle text-center">{{ . }}</h2>{{ end }}
            </div>
        </div>
        <div class="row row-cols-md-3">
            {{ range $index, $element := .Params.team.members }}
                {{ with index $.Site.Data.bios $element }}
                <div class="card">
                    <div id="{{ .name | anchorize }}" class="team-member" data-aos="fade-left">
                        {{ if .image }}
                            {{ $original := ($.Resources.ByType "image").GetMatch .image }}
                            {{ $image := $original.Fill "400x600" }}
                            {{/* $grey := $image | images.Filter (images.Grayscale) */}}
                            <img src="{{ $image.Permalink }}" class="card-img-top team-pic team-img"
                                alt="{{ .name }} portrait">
                        {{ end }}
                        <div class="card-body">
                            <div class="clearfix">
                                <h3 class="team-name card-title float-start">{{ with .honorificPrefix }}{{ . }} {{ end }}{{ .name }}{{ with .honorificSuffix }}, {{ . }}{{ end }}</h3>
                                {{ partial "social-icons.html" .social }}
                            </div>
                            {{ if .worksFor }}<p class="card-subtitle mt-0 mb-2 text-muted team-designation">{{ with .jobTitle }}{{ . }}, {{ end }}{{ .worksFor }}{{ with .workLocation }}<br>{{ . }}{{ end }}</p>{{ end }}
                            {{ with .bio }}{{ . | markdownify }}{{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Team Section End -->" | safeHTML }}
{{ end }}
