{{ define "main" }}

<!--=================================
=            404 Section            =
==================================-->
    <main id="main-content" class="moduler wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="cd-headline slide" data-aos="fade-up" data-aos-delay="200">404</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">Oops!</h2>
                        <p data-aos="fade-up" data-aos-delay="600">The page you are looking for is not available.</p>
                        <a href="index.html" class="btn btn-dafault btn-home hvr-bounce-to-right" data-aos="fade-up" data-aos-delay="800">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{{ end }}