{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="block">
                    {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.contactFormSubtitle | safeHTML }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="contact-form">
                        <form id="contact-form" method="POST" action="{{ .Site.Data.contact.contactPost }}" role="form">
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                <label for="name">Full Name</label>
                                <input type="text" placeholder="First and Last" class="form-control" name="name" id="name">
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                <label for="email">Email Address</label>
                                <input type="email" placeholder="email@example.com" class="form-control" name="email" id="email">
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <label for="message">Message</label>
                                <textarea rows="6" placeholder="Your Message" class="form-control" name="message" id="message"></textarea>
                            </div>

                            {{ with .Site.Data.contact.contactSubject }}<input type="hidden" name="_subject" value="{{ . }}">{{ end }}
                            <label for="gotcha" style="display:none">Don't fill this in</label>
                            <input type="text" id="gotcha" name="_gotcha" style="display:none">

                            <div id="success" class="success">
                                Thank you, your message is on its way.
                            </div>

                            <div id="error" class="error">
                                Sorry, there was an error submitting the form.
                            </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <button type="submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right" value="Send Message">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{ if .Site.Data.contact.mapUrl }}
            <div class="col-md-6">
                <div class="map-area">
                    {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="map">
                        <iframe src="{{ .Site.Data.contact.mapUrl }}"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        {{ if .Site.Data.contact.enableAddress }}
        <div class="row address-details">
            <div class="col-lg-4 col-sm-8">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-4 col-sm-8">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail1 }}<a href="mailto:{{ . }}" target="_blank">{{ . }}</a>{{ end }}
                       {{ with .Site.Data.contact.mail2 }}<br>{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-telephone-outline"></i>
                    <p>{{ with .Site.Data.contact.phone1 }}<a href="tel:{{ . }}" target="_blank">{{ . }}</a>{{ end }}
                       {{ with .Site.Data.contact.phone2 }}<br>{{ . }}{{ end }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}
